<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list class="sidenav">
      <a mat-list-item routerLinkActive="active" [routerLink]="['manager']">
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line>Home</span>
      </a>
      <a mat-list-item routerLinkActive="active">
        <mat-icon mat-list-icon>group</mat-icon>
        <span mat-line>Acounts</span>
      </a>
      <a mat-list-item routerLinkActive="active">
        <mat-icon mat-list-icon>settings</mat-icon>
        <span mat-line>Setings</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar [sidenav]="sidenav"></app-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
